body{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    
}

    header{
    display: flex;
    justify-content: center;
    
}

.data{
    
    display: flex;
    justify-content: center;
}

